<form method="POST" id="novo_produto">
    <div class="novo_produto">
      <div class="form-group">
        <label for="codigo" class="text-light">Codigo</label>
        <input type="hidden" name="id" value="" />
        <input
          id="inputCodigo"
          type="text"
          name="codigo"
          value=""
          required
          placeholder="Digite o codigo do produto"
        />
      </div>
      <div class="form-group">
        <label for="descricao" class="text-light">Descrição</label>
        <input
          id="inputDescricao"
          type="text"
          name="descricao"
          value=""
          required
          placeholder="Digite a descrição do produto"
        />
      </div>
      <div class="form-group">
        <label for="preco" class="text-light">Preço</label>
        <input
          id="inputPreco"
          type="text"
          name="preco"
          value=""
          required
          placeholder="Digite o preço do produto"
        />
      </div>
      <div class="form-group">
        <label for="quantidade" class="text-light">Quantidade</label>
        <input
          id="inputQuantidade"
          type="text"
          name="quantidade"
          value=""
          required
          placeholder="Digite a quantidade do produto"
        />
      </div>
  
      <div class="form-group">
        <button type="submit" class="btn text-dark update">Cadastrar</button>
      </div>
    </div>
  </form>
